.top
{
    padding: 10px;
    height: 70px;
    width: calc(100%-10px);
    background-color: rgb(52, 93, 138);
    text-align: center;
    color: white;
    font-size: 50px;
}

.middle
{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 100px;
}

.container
{
    /* margin-left: 50px; */
    width: 55%;
    height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.question
{
    font-size: 25px;
    /* background-color: aqua; */
}

.options
{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-evenly;
}

.option
{
    width: auto;
    padding: 7px;
    border-radius: 7px;
    display: flex;
    /* flex-direction: column; */
}

.NUMBERS
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
} 

.number
{
    background-color: rgb(202, 202, 202);
    height: calc(4vw - .4vw);
    width: 4vw;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.4vw;
    font-size: 2vw;
    border: 0;
}

.numbers
{
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    width: max-content;
    max-height: 50vh;
    padding: 1vw;
    gap: 2vw;
    overflow-y: scroll;
}

.number:hover
{
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

.circle
{
    display: flex;
    gap: 2vw;
}


.buttons
{
    margin-top: 50px;
    display: flex;
    gap: 150px;
    justify-content: center;
}

button
{
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button:hover
{
    background-color: rgb(230, 230, 230);
}

.submit
{
    width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* width */
.numbers::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .numbers::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
  }
  
  /* Handle */
  .numbers::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .numbers::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@media (max-width: 900px)
{
    .middle
    {
        flex-direction: column;
    }

    .container
    {
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
        width: 100%;
    }

    .numbers
    {
        margin-left: auto;
        margin-right: auto;
        width: 262px;
        max-height: 30vh;
        padding: 10px;
        gap: 16px;
    }

    .number
    {
        background-color: rgb(202, 202, 202);
        height: 30px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        padding-top: 5px;
        font-size: 18.53px;
    }

    .circle
    {
        gap: 17px;
    }

}

@media (max-width: 622px)
{
    .question
    {
        font-size: 4vw;
    }

    .option
    {
        font-size: 3vw;
    }

    .buttons
    {
        gap: 50px;
        margin-top: 50px;
    }

    button
    {
        font-size: 3vw;
        padding: 8px;
        font-size: 10px;
    }
}