.top
{
    padding: 10px;
    height: 90px;
    width: calc(100%-10px);
    background-color: rgb(52, 93, 138);
    text-align: center;
    color: white;
    font-size: 50px;
}

.middle
{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.bottom
{
    width: 100%;
    display: flex;
}

.SUBMIT
{
    margin-left: auto;
    margin-right: auto;
}

button
{
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button:hover
{
    background-color: rgb(230, 230, 230);
}
